:host {
  flex: 1;
  display: inline-block;
}

.wapper {
  color: $dark-secondary-text;
  padding: rem-calc(30);
  @include cut-shadow("bottom-medium");
  border-radius: rem-calc(4.5);
  display: flex;
  border: 2px solid $WHITE;
  box-sizing: border-box;
  min-width: rem-calc(270);
  .icon-area {
    color: $color-secondary-light;
    margin-right: rem-calc(15);
  }
  .content-area {
    width: 100%;
    .top-row {
      display: flex;
      justify-content: space-between;
      .detail {
        display: flex;
        flex-direction: column;
        .position-title {
          font-size: rem-calc(10);
        }
        .position-name {
          font-size: rem-calc(14);
          font-weight: $font-weight-bold;
        }
        .address {
          font-size: rem-calc(12);
        }
      }
    }
    .highlighted-row {
      display: flex;
      flex-direction: column;
      margin-top: rem-calc(10);
      font-size: rem-calc(12);
      .highlighted-text1 {
        color: $color-secondary-dark;
      }
    }
    .pills-wrapper {
      cut-wc-pill {
        margin: rem-calc(10 5 0 5);
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  &:hover {
    border: 2px solid #2777b4;
    /* box-shadow: 1px 1px 2px 3px #2777B4; */
    /* outline: 2px solid #2777B4;; */
  }
}

:host([small]) {
  .wapper {
    padding: rem-calc(20);
  }
}
