.wrapper {
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-top: 1.2rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  .guidance {
    display: block;
    font-size: 0.75rem;
    color: $dark-secondary-text;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .icon-error,
  .icon-success {
    display: none;
    position: relative;
    right: 0;
    float: right;
    cut-wc-icon {
      color: $accent-eta;
      position: absolute;
      right: 100%;
      bottom: 100%;
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }
  }
  .input {
    color: $BLACK;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0;
    padding-left: 0.5rem;
    &::placeholder {
      color: $WHITE;
    }
  }
  .label-top {
    display: block;
    position: absolute;
    max-height: 0;
    top: 0;
    pointer-events: none;
    padding-top: 0.4rem;
    &::before {
      color: $dark-secondary-text;
      content: attr(data-content);
      display: inline-block;
      backface-visibility: hidden;
      transform-origin: left bottom;
      transition: transform 0.3s ease;
      left: 0.5rem;
      position: relative;
      bottom: 0;
    }
  }
  .label {
    display: block;
    position: relative;
    max-height: 0;
    pointer-events: none;
    border-bottom: 1px solid $color-tertiary;
    transition: border-color 0.2s ease;
    padding-top: 0.1rem;
    &::after {
      bottom: 1px;
      content: "";
      height: 1px;
      position: absolute;
      transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
      opacity: 0;
      left: 0;
      top: 100%;
      margin-top: 1px;
      transform: scale3d(0, 1, 1);
      width: 100%;
      background-color: $color-tertiary;
    }
  }

  fieldset {
    padding: 3rem 2rem 1.5rem;
  }

  legend {
    padding: 0 0.5rem;
  }

  .hidden--visually {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  textarea {
    outline: none;
    border-width: 0;
    background: none;
    display: block;
    width: 100%;
    resize: none;
    height: 1.7rem;
    font-family: inherit;
  }

  &:hover .input {
    border-color: $color-tertiary;
  }
}

.input:focus + .label::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.input:placeholder-shown ~ .label-top::before {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

.label-top::before,
.input:focus ~ .label-top::before {
  transform: translate3d(0, -1.65rem, 0) scale3d(0.82, 0.82, 1);
}

.input:focus ~ .label-top::before {
  font-weight: $font-weight-bold;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:host([error]) {
  .label {
    border-bottom: 0.1rem solid $accent-eta;
  }
  .guidance {
    color: $accent-eta;
  }
  .label::after {
    background-color: $accent-eta;
  }
  .label-top::before {
    color: $accent-eta;
  }
  .icon-error {
    display: block;
    cut-wc-icon {
      color: $accent-eta;
    }
  }
}
:host([success]) {
  .label::after {
    background-color: $color-secondary;
  }
  .label {
    border-bottom: 0.1rem solid $color-secondary;
  }
  .icon-success {
    display: block;
    cut-wc-icon {
      color: $color-secondary;
    }
  }
}

:host([disabled]) {
  .label {
    border-bottom: 0.1rem solid $gray-dark;
  }
  .guidance {
    color: $gray-dark;
  }
  .label::after {
    background-color: $gray-dark;
  }
  .label-top::before {
    color: $gray-dark;
  }
  .input {
    color: $dark-secondary-text;
  }
}
