.cb-loader {
  box-sizing: border-box;
  /**
  * `overflow` and `position` are required steps to make sure
  * the component respects the specified dimensions
  * given via `theme` object @Input attribute
  */
  overflow: hidden;
  position: relative;

  animation: progress 2s ease-in-out infinite;
  background: rgb(239, 241, 246) no-repeat;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0)
  );
  background-size: rem-calc(200) 100%;
  border-radius: rem-calc(5);
  width: 100%;
  height: rem-calc(10);
  display: inline-block;
  margin-bottom: rem-calc(10px);

  &:after,
  &:before {
    box-sizing: border-box;
  }

  &.square-small {
    width: rem-calc(50);
    height: rem-calc(50);
  }

  &.circle {
    width: rem-calc(40);
    height: rem-calc(40);
    margin: rem-calc(10);
    border-radius: 50%;

    &.small {
      width: rem-calc(25);
      height: rem-calc(25);
    }
  }
}

@keyframes progress {
  0% {
    background-position: -200px 0;
  }

  100% {
    background-position: calc(200px + 100%) 0;
  }
}
